.mainInsights {
  &_content {
    width: 95%;
    min-height: 846px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  &_top {
    width: 100%;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &_circles {
      width: 70%;
      min-height: 120px;
      display: flex;
      align-items: center;
    }
    &-circle {
      width: 70px;
      height: 70px;
      position: absolute;
      left: 0;
    }
    &_statistic {
      width: 150px;
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 10px;
      margin-right: 10px;
      position: relative;
      &_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & p {
          font-weight: 800;
          color: #fff;
        }
      }
      &-number {
        font-size: 15px;
        margin-bottom: 0;
      }
      &-title {
        font-size: 13px;
        text-transform: uppercase;
        opacity: .5;
        margin-top: 0;
      }
    }
    &_right {
      width: 30%;
      min-height: 120px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      & form {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      &-label {
        color: #fff;
        opacity: .5;
        font-size: 13px;
        margin-right: 10px;
      }
      &-select {
        width: 150px;
        height: 30px;
        outline: none;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, .3);
        border-radius: 18px;
        margin-right: 50px;
        cursor: pointer;
        font-weight: 800;
        color: rgba(255, 255, 255, .5);
        padding-left: 10px;
      }
    }
  }
  &_rechart {
    width: 100%;
    height: 400px;
    background: transparent;
    margin-top: 25px;
  }
  &_bottom {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    &_item {
      width: 100%;
      min-height: 75px;
      display: flex;
      align-items: center;
      background: #2C2D3C;
      border-bottom: 1px solid #434959;
      flex-wrap: wrap;
      justify-content: center;
      &-text {
        width: 80px;
        margin-left: 33px;
        margin-right: 33px;
        display: flex;
        align-items: center;
      }
    }
    &_info {
      background: #3A3E51;
      &-text {
        width: 80px;
        opacity: .5;
        margin-left: 33px;
        margin-right: 33px;
      }
    }
    &_left {
      width: 30%;
      min-height: 75px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      & p {
        margin-left: 0;
      }
    }
    &-text {
      font-weight: 800;
      color: #fff;
    }
    &-mainParagraph {
      cursor: pointer;
      margin-left: 50px;
      letter-spacing: 1px;
    }
  }
}

#greenCircle {
  background: #4FAE54;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

#redCircle {
  background: #F2413C;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

@media(min-width: 320px) and (max-width: 1150px) {
  .mainInsights {
    &_content {
      width: 100%;
      margin-left: 0;
      min-height: 726px;
      margin-top: 120px;
    }
    &_bottom {
      &_left {
        width: 100%;
        justify-content: center;
        text-align: center;
      }
    }
  }
}

@media(min-width: 320px) and (max-width: 960px) {
  .mainInsights {
    &_top {
      &_circles {
        width: 100%;
        justify-content: center;
      }
      &_statistic {
        right: 70px;
      }
      &_right {
        min-height: 60px;
        width: 100%;
        justify-content: center;
      }
    }
  }
}

@media(min-width: 320px) and (max-width: 800px) {
  .mainInsights {
    &_bottom {
      &-text {
        font-size: 14px;
      }
    }
  }
}
@media(min-width: 320px) and (max-width: 540px) {
  .mainInsights {
    &_top {
      &_circles {
        flex-wrap: wrap;
      }
      &_statistic {
        right: 50px;
      }
    }
  }
}