.messagesHeader {
  width: 100%;
  min-height: 96px;
  background: #2f3242;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
  &_container {
    width: 90%;
    min-height: 96px;
    margin: auto;
    display: flex;
  }
  &_left {
    width: 50%;
    min-height: 96px;
    display: flex;
    align-items: center;
  }
  &_right {
    width: 50%;
    min-height: 96px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-btn {
      width: 133px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border: 2px solid #2196f3;
      border-radius: 24px;
      letter-spacing: 0.24px;
      font-size: 18px;
      transition: .2s;
      & span {
        color: #2196f3;
        font-size: 28px;
        padding-left: 20px;
      }
      &:hover {
        border-color: #3BB0FF;
      }
      &:active {
        border-color: #2196f3;
      }
    }
    &-search {
      color: #ffffff;
      font-size: 22px;
      margin-left: 51px;
      transition: .2s;
      &:hover {
        color: #E4E4E4;
      }
      &:active {
        color: #fff;
      }
    }
    &-notifications {
      color: #ffffff;
      font-size: 22px;
      margin-left: 51px;
      transition: .2s;
      &:hover {
        color: #E4E4E4;
      }
      &:active {
        color: #fff;
      }
    }
    &-profile {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 14px;
      margin-left: 53px;
      transition: .2s;
      &-avatar {
        width: 56px;
        height: 56px;
        background: #fff;
        border-radius: 50%;
        margin-right: 12px;
      }
      &:hover {
        color: #E4E4E4;
      }
      &:active {
        color: #fff;
      }
    }
  }
}

.mainMessages {
  width: 100%;
  height: calc(100% - 93px);
  display: flex;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
  &_sidebar {
    width: 5%;
    height: 100%;
    background: #2f3242;
    box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
    display: flex;
    flex-direction: column;
    &_links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    &-link {
      color: #757da4;
      font-size: 32px;
      margin-bottom: 40px;
      transition: .2s;
      &:hover {
        color: #fff;
      }
      &:active {
        color: #757da4;
      }
    }
    &-linkActive {
      color: #fff;
      font-size: 32px;
      margin-bottom: 40px;
    }
  }
  &_content {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &_bar {
    width: 100%;
    height: 10%;
    background: #2196f3;
    box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
    display: flex;
    &_left {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
    }
    &_links {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 30px;
    }
    &-link {
      color: #2b2d3c;
      font-size: 18px;
      font-weight: 800;
      letter-spacing: .36px;
      transition: .2s;
      margin-right: 20px;
      margin-left: 20px;
      &:hover {
        color: #fff;
      }
      &:active {
        color: #2b2d3c;
      }
      & i {
        padding-right: 5px;
      }
    }
    &_right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      & form {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
    &-filterText {
      color: #fff;
      font-weight: 800;
      letter-spacing: 0.32px;
      margin-right: 20px;
    }
    #filterSelect {
      width: 157px;
      height: 36px;
      color: #fff;
      font-weight: 800;
      padding-left: 20px;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 18px;
      margin-right: 50px;
      cursor: pointer;
    }
  }
  &_bottom {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

.conversations {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background: #2b2d3c;
  &-btn {
    width: 80%;
    height: 51px;
    border-radius: 5px;
    background: #2196f3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: .24px;
    color: #fff;
    margin-bottom: 30px;
    transition: .2s;
    & span {
      font-size: 24px;
      padding-right: 10px;
      color: rgba(255, 255, 255, .6);
    }
    &:hover {
      background: #2DA2FF;
    }
    &:active {
      background: #2196f3;
    }
  }
}

.messaging {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background: #2f3242;
  & form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
  }
  &-input {
    width: 95%;
    height: 51px;
    border-radius: 10px;
    border: 1px solid rgba(156, 161, 178, 0.3);
    background: #404359;
    color: #fff;
    font-weight: 800;
    letter-spacing: .32px;
    padding-left: 20px;
    &::placeholder {
      color: #9ca1b2;
    }
  }
  &-inputBlocker {
    width: 95%;
    height: 51px;
    position: absolute;
    background: rgba(0, 0, 0, .4);
    border-radius: 10px;
    bottom: 0;
  }
  &_content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
    &_left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &_comment {
        margin-left: 25px;
        margin-top: 38px;
        display: flex;
        align-items: center;
        margin-bottom: 90px;
        &No {
          opacity: 0;
        }
      }
      &-avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: #BBBBBB;
      }
      &_content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      &-message {
        max-width: 85%;
        min-height: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #404359;
        color: #fff;
        font-weight: 800;
        font-size: 14px;
        letter-spacing: .32px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 25px;
      }
      &-date {
        color: #9ca1b2;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: .42px;
        margin-top: 0;
        margin-left: 25px;
      }
    }
    &_right {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &_comment {
        margin-right: 25px;
        margin-top: 150px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
      }
      &-avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: #fff;
      }
      &_content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      &-message {
        max-width: 85%;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #2196f3;
        color: #fff;
        font-weight: 800;
        font-size: 14px;
        letter-spacing: .32px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 25px;
      }
      &-date {
        color: #9ca1b2;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: .42px;
        margin-top: 0;
        margin-right: 25px;
      }
    }
  }
}

.aside {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.3);
  background: #2b2d3c;
  #asideUserAvatar {
    width: 100px;
    height: 100px;
    background: #BBBBBB;
    border: none;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  #asideUserName {
    max-width: 90%;
    color: #fff;
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 0;
  }
  #asideUserPost {
    max-width: 90%;
    color: #858A9B;
    font-weight: 800;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  #asideUserDescription {
    max-width: 85%;
    line-height: 25px;
    color: #858A9B;
    font-weight: 800;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  &-userList {
    max-width: 90%;
    color: #858A9B;
    font-weight: 800;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  #asideUserEmail {
    max-width: 90%;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  #asideUserPhone {
    max-width: 90%;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  #asideUserAddress {
    max-width: 90%;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  #asideUserOrganization {
    max-width: 90%;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

#needLogin {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media(min-width: 320px) and (max-width: 1365px) {
  .aside {
    &-userList {
      font-size: 14px;
    }
    #asideUserOrganization {
      font-size: 15px;
    }
    #asideUserAddress {
      font-size: 15px;
    }
    #asideUserPhone {
      font-size: 15px;
    }
    #asideUserEmail {
      font-size: 15px;
    }
    #asideUserDescription {
      font-size: 14px;
    }
    #asideUserPost {
      font-size: 14px;
    }
    #asideUserName {
      font-size: 20px;
    }
  }
}

@media(min-width: 320px) and (max-width: 1150px) {
  .mainMessages {
    height: 100%;
    flex-direction: column;
    &_sidebar {
      width: 100%;
      height: 96px;
      &_links {
        width: 100%;
        height: 96px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      &-link {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
      &-linkActive {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
    &_content {
      width: 100%;
    }
  }
}

@media(min-width: 320px) and (max-width: 1090px) {
  .mainMessages {
    &_bottom {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      #asideUserDescription {
        max-width: 75%;
      }
    }
  }
  .aside {
    width: 100%;
    min-height: 90%;
  }
  .conversations {
    width: 30%;
  }
  .messaging {
    width: 70%;
  }
}

@media(min-width: 320px) and (max-width: 916px) {
  .messagesHeader {
    &_left {
      width: 30%;
    }
    &_right {
      width: 70%;
    }
  }
  .conversations {
    width: 100%;
  }
  .messaging {
    width: 100%;
  }
}

@media(min-width: 644px) and (max-width: 780px) {
  .messagesHeader {
    &_right {
      &-search {
        margin-left: 23px;
      }
      &-notifications {
        margin-left: 23px;
      }
      &-profile {
        margin-left: 23px;
      }
    }
  }
}

@media(min-width: 320px) and (max-width: 780px) {
  .mainMessages {
    &_bar {
      min-height: 96px;
      flex-direction: column;
      &_left {
        width: 100%;
        justify-content: center;
      }
      &_right {
        width: 100%;
        justify-content: center;
        #filterSelect {
          margin-right: 0;
        }
      }
      &_links {
        margin-left: 0;
      }
    }
  }
}

@media(min-width: 320px) and (max-width: 643px) {
  .messagesHeader {
    &_container {
      flex-direction: column;
      align-items: center;
    }
    &_left {
      width: 100%;
      min-height: 78px;
      justify-content: center;
    }
    &_right {
      width: 100%;
      min-height: 78px;
      justify-content: center;
    }
  }
}

@media(min-width: 320px) and (max-width: 518px) {
  .messaging_content_left {
    &_comment {
      margin-left: 10px;
    }
    &-avatar {
      width: 40px;
      height: 40px;
    }
    &-message {
      font-size: 12px;
      margin-left: 10px;
    }
    &-date {
      font-size: 10px;
    }
  }
  .messaging_content_right {
    &_comment {
      margin-right: 10px;
    }
    &-avatar {
      width: 40px;
      height: 40px;
    }
    &-message {
      font-size: 12px;
      margin-right: 10px;
    }
    &-date {
      font-size: 10px;
    }
  }
}

@media(min-width: 320px) and (max-width: 460px) {
  .messagesHeader {
    &_right {
      &-search {
        margin-left: 20px;
      }
      &-notifications {
        margin-left: 20px;
      }
      &-profile {
        margin-left: 20px;
      }
    }
  }
  .mainMessages {
    &_sidebar {
      &-link {
        margin-left: 10px;
        margin-right: 10px;
      }
      &-linkActive {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    &_bar {
      &-link {
        margin-left: 10px;
        margin-right: 10px;
      }
      &-filterText {
        margin-right: 10px;
      }
    }
  }
}

@media(min-width: 362px) and (max-width: 410px) {
  .messaging_content_left {
    &_comment {
      margin-left: 10px;
    }
    &-avatar {
      width: 35px;
      height: 35px;
    }
    &-message {
      font-size: 10px;
      margin-left: 10px;
    }
    &-date {
      font-size: 8px;
    }
  }
  .messaging_content_right {
    &_comment {
      margin-right: 10px;
    }
    &-avatar {
      width: 35px;
      height: 35px;
    }
    &-message {
      font-size: 10px;
      margin-right: 10px;
    }
    &-date {
      font-size: 8px;
    }
  }
}

@media(min-width: 320px) and (max-width: 361px) {
  .messaging_content_left {
    &_comment {
      margin-left: 10px;
    }
    &-avatar {
      width: 30px;
      height: 30px;
    }
    &-message {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 10px;
      margin-left: 10px;
    }
    &-date {
      font-size: 8px;
      margin-left: 15px;
    }
  }
  .messaging_content_right {
    &_comment {
      margin-right: 10px;
    }
    &-avatar {
      width: 30px;
      height: 30px;
    }
    &-message {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 10px;
      margin-right: 10px;
    }
    &-date {
      font-size: 8px;
      margin-right: 10px;
    }
  }
}