.resetMain {
  &_form {
    &-input {
      margin-bottom: 5px;
    }
    &-text {
      color: #fff;
      font-size: 14px;
      font-weight: 800;
    }
    &None {

    }
    &_bottom {
      position: relative;
    }
  }
  &_message {
    margin-top: 0;
    display: none;
    &-text {
      font-weight: 800;
      font-size: 14px;
      margin-top: 0;
      color: #fff;
    }
    &_bottom {
      display: flex;
      justify-content: center;
    }
    &-btn {
      width: 80px;
      height: 31px;
      border-radius: 5px;
      background: #2196f3;
      font-size: 18px;
      font-weight: 800;
      letter-spacing: .24px;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      transition: .2s;
      &:hover {
        background: #2DA2FF;
      }
      &:active {
        background: #2196f3;
      }
    }
  }
}

.reset1-inputBlocker {
  position: absolute;
  width: 100px;
  height: 40px;
  background: transparent;
  bottom: 5px;
  &No {
    display: none;
  }
}

