.mainProjects {
  &_bottom {
    width: 100%;
    min-height: 770px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #292B3A;
    &_posts {
      width: 100%;
      min-height: 770px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;
    }
    &_project {
      width: 95%;
      min-height: 100px;
      background: #3A3E51;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 3%;
      border-radius: 5px;
      &WhiteBorder {
        border-left: 5px solid #fff;
      }
      &BlueBorder {
        border-left: 5px solid #2997F1;
      }
      &GreenBorder {
        border-left: 5px solid #50AF53;
      }
      &_container {
        width: 97%;
        min-height: 100px;
        margin: auto;
        display: flex;
        align-items: center;
      }
    }
  }
}

.project {
  &-paragraph {
    width: calc(100% / 8);
    font-weight: 800;
    color: #fff;
    font-size: 15px;
  }
  &-paragraph2 {
    width: calc((100% / 8) * 2);
    font-weight: 800;
    color: #fff;
    font-size: 15px;
  }
  &-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    & span {
      font-weight: 400;
      font-size: 13px;
      padding-top: 3px;
      opacity: .5;
    }
  }
  &-deadline {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }
  &-spentTime {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }
  &-progress {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & span {
      font-size: 15px;
      width: 15%;
    }
    &-bar {
      width: 60%;
      height: 10px;
      border-radius: 10px;
      background: #585D6F;
      &_container {
        height: 10px;
        background: #2997F1;
        border-radius: 10px;
        &Green {
          background: #50AF53;
        }
      }
    }
  }
  &-status {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }
  &-user {
    width: calc(100% / 8);
    display: flex;
    align-items: center;
    &-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
    &_information {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
    }
    &-name {
      color: #fff;
      font-weight: 800;
      font-size: 14px;
      margin-bottom: 0;
    }
    &-position {
      color: #fff;
      font-size: 12px;
      margin-top: 3px;
      opacity: .5;
    }
  }
  &-menu {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: .5;
    font-size: 18px;
    color: #fff;
    transition: .2s;
    &:hover {
      opacity: .7;
    }
    &:active {
      opacity: .4;
    }
  }
}

@media (min-width: 1150px) and (max-width: 1600px) {
  .project {
    &-spentTime {
      width: calc((100% / 8) / 2);
      margin-right: 10px;
    }
    &-user {
      width: calc((100% / 8) * 2);
    }
  }
}

@media (min-width: 1150px) and (max-width: 1400px) {
  .project {
    &-paragraph {
      font-size: 14px;
    }
    &-progress {
      & span {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 940px) and (max-width: 1149px) {
  .project {
    &-paragraph {
      font-size: 15px;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-paragraph2 {
      font-size: 15px;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-user-name {
      font-size: 15px;
    }
    &-user-position {
      font-size: 12px;
    }
    &-title {
      width: 25%;
      height: 100px;
      justify-content: center;
      align-items: center;
      & span {
        font-size: 12px;
      }
    }
    &-deadline {
      width: 25%;
      height: 100px;
      justify-content: center;
      align-items: center;
    }
    &-spentTime {
      width: 15%;
      height: 100px;
      justify-content: center;
      align-items: center;
    }
    &-progress {
      width: 30%;
      height: 100px;
      justify-content: center;
      align-items: center;
      & span {
        font-size: 15px;
      }
    }
    &-status {
      width: 25%;
      height: 100px;
      justify-content: center;
      align-items: center;
    }
    &-cost {
      width: 25%;
      height: 100px;
      margin-right: 10px;
      margin-left: 5px;
      justify-content: center;
      align-items: center;
    }
    &-user {
      width: 25%;
      height: 100px;
      justify-content: center;
      align-items: center;
    }
  }

  .mainProjects {
    &_bottom {
      &_project {
        &_container {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}

@media (min-width: 640px) and (max-width: 939px) {
  .project {
    &-paragraph {
      font-size: 15px;
      width: 33.33%;
      min-height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-paragraph2 {
      font-size: 15px;
      width: 33.33%;
      min-height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-user-name {
      font-size: 15px;
    }
    &-user-position {
      font-size: 12px;
    }
    &-title {
      justify-content: center;
      align-items: center;
      & span {
        font-size: 12px;
      }
    }
    &-deadline {
      justify-content: center;
      align-items: center;
    }
    &-spentTime {
      justify-content: center;
      align-items: center;
    }
    &-progress {
      min-height: 70px;
      width: 38%;
      justify-content: center;
      align-items: center;
      & span {
        font-size: 15px;
        margin-right: 10px;
      }
    }
    &-status {
      justify-content: center;
      align-items: center;
    }
    &-cost {
      width: 25%;
      margin-right: 10px;
      margin-left: 5px;
      justify-content: center;
      align-items: center;
    }
    &-user {
      min-height: 70px;
      width: 33.33%;
      justify-content: center;
      align-items: center;
    }
  }

  .mainProjects {
    &_bottom {
      &_project {
        &_container {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}

@media (min-width: 440px) and (max-width: 639px) {
  .project {
    &-paragraph {
      font-size: 15px;
      width: 50%;
      min-height: 50px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    &-paragraph2 {
      font-size: 15px;
      width: 50%;
      min-height: 50px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    &-user-name {
      font-size: 15px;
      text-align: center;
    }
    &-user-position {
      font-size: 12px;
      text-align: center;
    }
    &-title {
      justify-content: center;
      align-items: center;
      & span {
        font-size: 12px;
      }
    }
    &-deadline {
      justify-content: center;
      align-items: center;
    }
    &-spentTime {
      justify-content: center;
      align-items: center;
    }
    &-progress {
      min-height: 50px;
      width: 50%;
      justify-content: center;
      align-items: center;
      & span {
        font-size: 15px;
        margin-right: 10px;
      }
    }
    &-status {
      justify-content: center;
      align-items: center;
    }
    &-cost {
      width: 50%;
      margin-right: 10px;
      margin-left: 5px;
      justify-content: center;
      align-items: center;
    }
    &-user {
      min-height: 50px;
      width: 50%;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  .mainProjects {
    &_bottom {
      &_project {
        &_container {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 439px) {
  .project {
    &-paragraph {
      font-size: 15px;
      width: 100%;
      min-height: 40px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    &-paragraph2 {
      font-size: 15px;
      width: 100%;
      min-height: 40px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    &-user-name {
      font-size: 15px;
      text-align: center;
    }
    &-user-position {
      font-size: 12px;
      text-align: center;
    }
    &-title {
      justify-content: center;
      align-items: center;
      & span {
        font-size: 12px;
      }
    }
    &-deadline {
      justify-content: center;
      align-items: center;
    }
    &-spentTime {
      justify-content: center;
      align-items: center;
    }
    &-progress {
      min-height: 40px;
      width: 100%;
      justify-content: center;
      align-items: center;
      & span {
        font-size: 15px;
        margin-right: 10px;
      }
    }
    &-status {
      justify-content: center;
      align-items: center;
    }
    &-cost {
      width: 100%;
      margin-right: 10px;
      margin-left: 5px;
      justify-content: center;
      align-items: center;
    }
    &-user {
      min-height: 40px;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  .mainProjects {
    &_bottom {
      &_project {
        &_container {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}