@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: #2F3141;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif';
}

a {
  text-decoration: none;
}

.main {
  width: 800px;
  min-height: 700px;
  margin: auto;
  &_container {
    width: 95%;
    min-height: 700px;
    margin: auto;
    display: flex;
  }
  &_left {
    width: 50%;
    display: flex;
    align-items: center;
    & img {
      width: 80%;
    }
  }
  &_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-title {
      font-size: 42px;
      margin-bottom: 5px;
      color: #fff;
      display: flex;
      justify-content: flex-start;
      text-align: left;
    }
    &-link {
      text-decoration: underline;
      color: #2997F0;
      font-weight: 800;
      margin-top: 0;
      margin-bottom: 30px;
      display: flex;
      justify-content: flex-start;
      text-align: left;
    }
  }
  &_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    &-input {
      width: 80%;
      height: 51px;
      border-radius: 10px;
      border: 1px solid rgba(156, 161, 178, 0.3);
      background: #404359;
      color: #fff;
      font-weight: 800;
      letter-spacing: .32px;
      padding-left: 15px;
      margin-bottom: 15px;
      &::placeholder {
        font-weight: 800;
      }
    }
    &-error {
      width: 75%;
      font-size: 14px;
      color: #ff0000;
      font-weight: 800;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    &_bottom {
      margin-top: 0;
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      & a {
        text-decoration: underline;
        color: #2997F0;
        font-weight: 800;
        margin-top: 0;
      }
    }
    &-btn {
      width: 80px;
      height: 31px;
      border-radius: 5px;
      background: #2196f3;
      font-size: 18px;
      font-weight: 800;
      letter-spacing: .24px;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      margin-bottom: 10px;
      transition: .2s;
      &:hover {
        background: #2DA2FF;
      }
      &:active {
        background: #2196f3;
      }
    }
  }
}
